<nav class="ui inverted menu">
  <header class="header item"> <a href="/"> <i class="pied piper alternate icon"></i>
    MyTweet </a> </header>
  <div class="right menu">
    <a class="item" href="/signup"> <i class="add user icon"></i>
      Signup
    </a>
    <a class="item" href="/login">  <i class="sign in icon"></i>
      Login</a>
  </div>
</nav>