<section class="ui container">
  {{> adminmenu _id="adminarea" }}
  <section class="ui red raised segment">
    Welcome back admin
  </section>
  <h1 id="st">Current Amount of Users:  {{usercount}}</h1>
  <h1 id="st">Current Amount of Tweets: {{tweetcount}}</h1>


    <section class="ui blue raised segment">
  </section>
</section>

